<% content_for :title, "Crear Usuario - InvenWire" %>

<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-md-12">
      <h1>Crear Nuevo Usuario</h1>
    </div>
  </div>
  
  <div class="card shadow-sm">
    <div class="card-body">
      <%= render "form", user: @user %>
    </div>
  </div>
  
  <div class="mt-3">
    <%= link_to "Volver a la lista", admin_users_path, class: "btn btn-secondary" %>
  </div>
</div>